parameters:
	ignoreErrors:
		-
			message: "#^Dead catch \\- GuzzleHttp\\\\Exception\\\\RequestException is already caught above\\.$#"
			count: 1
			path: src/Actions/GetPrerenderedPageResponse.php

		-
			message: "#^Property Tsekka\\\\Prerender\\\\Actions\\\\GetPrerenderedPageResponse\\:\\:\\$returnSoftHttpCodes is never read, only written\\.$#"
			count: 1
			path: src/Actions/GetPrerenderedPageResponse.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\CrawlerVisit\\:\\:\\$http_status_code\\.$#"
			count: 1
			path: src/Actions/RecordCrawlerVisit.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\CrawlerVisit\\:\\:\\$prerendered_page_id\\.$#"
			count: 1
			path: src/Actions/RecordCrawlerVisit.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\CrawlerVisit\\:\\:\\$server_response_time\\.$#"
			count: 1
			path: src/Actions/RecordCrawlerVisit.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\CrawlerVisit\\:\\:\\$status\\.$#"
			count: 1
			path: src/Actions/RecordCrawlerVisit.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\CrawlerVisit\\:\\:\\$user_agent\\.$#"
			count: 1
			path: src/Actions/RecordCrawlerVisit.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\PrerenderedPage\\:\\:\\$cache_key\\.$#"
			count: 2
			path: src/Actions/RecordOrTouchPrerenderedPage.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\PrerenderCacheLog\\:\\:\\$content\\.$#"
			count: 3
			path: src/Console/Commands/CachePagesCommand.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\PrerenderCacheLog\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Console/Commands/CachePagesCommand.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\PrerenderCacheLog\\:\\:\\$status\\.$#"
			count: 1
			path: src/Console/Commands/CachePagesCommand.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Models\\\\PrerenderCacheLog\\:\\:\\$updated_at\\.$#"
			count: 1
			path: src/Console/Commands/CachePagesCommand.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/Console/Commands/CachePagesCommand.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Http\\\\Middleware\\\\PrerenderMiddleware\\:\\:\\$blacklist\\.$#"
			count: 1
			path: src/Http/Middleware/PrerenderMiddleware.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Http\\\\Middleware\\\\PrerenderMiddleware\\:\\:\\$crawlerUserAgents\\.$#"
			count: 1
			path: src/Http/Middleware/PrerenderMiddleware.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Http\\\\Middleware\\\\PrerenderMiddleware\\:\\:\\$prerenderToken\\.$#"
			count: 1
			path: src/Http/Middleware/PrerenderMiddleware.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Http\\\\Middleware\\\\PrerenderMiddleware\\:\\:\\$prerenderUri\\.$#"
			count: 1
			path: src/Http/Middleware/PrerenderMiddleware.php

		-
			message: "#^Access to an undefined property Tsekka\\\\Prerender\\\\Http\\\\Middleware\\\\PrerenderMiddleware\\:\\:\\$whitelist\\.$#"
			count: 1
			path: src/Http/Middleware/PrerenderMiddleware.php

		-
			message: "#^Property Tsekka\\\\Prerender\\\\Prerender\\:\\:\\$cache \\(Illuminate\\\\Cache\\\\Repository\\|null\\) does not accept Illuminate\\\\Contracts\\\\Cache\\\\Repository\\|null\\.$#"
			count: 1
			path: src/Prerender.php

		-
			message: "#^Call to method pushMiddleware\\(\\) on an unknown class Tsekka\\\\Prerender\\\\Illuminate\\\\Contracts\\\\Http\\\\Kernel\\.$#"
			count: 1
			path: src/PrerenderServiceProvider.php

		-
			message: "#^PHPDoc tag @var for variable \\$kernel contains unknown class Tsekka\\\\Prerender\\\\Illuminate\\\\Contracts\\\\Http\\\\Kernel\\.$#"
			count: 1
			path: src/PrerenderServiceProvider.php

